################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/Onzz/bin/Release
/src/Onzz/bin/Debug
/src/Onzz/Onzz.0.1.0.8.nupkg
/src/Onzz/Onzz.0.1.0.7.nupkg
/src/Onzz/Onzz.0.1.0.6.nupkg
/src/Onzz/Onzz.0.1.0.5.nupkg
/src/Onzz/Onzz.0.1.0.4.nupkg
/src/Onzz/obj/Debug/Onzz.pdb
/src/Onzz/obj/Debug/Onzz.dll
/src/Onzz/obj/Debug/Onzz.csproj.FileListAbsolute.txt
/src/Onzz/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/src/Onzz/obj/Release/Onzz.csprojResolveAssemblyReference.cache
/src/Onzz/obj/Release/Onzz.csprojResolveAssemblyReference.cache
/src/Onzz/obj/Release/Onzz.csprojResolveAssemblyReference.cache
